@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-vue/src/index.scss';

@font-face {
    font-family: "Helvetica";
    src: url("~@/assets/font/Helvetica.ttf") format('ttf');
}

body {
    background: theme-color-level('secondary', 8);
    background-image: url('~@/assets/img/background.png');
    background-image: url('~@/assets/img/background.png'),
        theme-color-level('secondary', 8) !important;
    color: theme-color('light') !important;
    font-family: $font;
}

.content {
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 100vh;
}

.content-bg {
    background: theme-color('secondary');
    padding: 1em;
    border-radius: 5px;
}

.small-caps {
    font-variant: small-caps;
}

.flex-grow {
    flex-grow: 1;
}